body {
    height: 150px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: #24252a;
    color: white;
  }
  .navbar li,
  a,
  button {
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
  }
  .logo {
    cursor: pointer;
  }
  
  .navbar ul li {
    display: inline-block;
    padding: 0px 20px;
  }
  .navbar li a {
    transition: 0.3s;
  }
  .navbar li a:hover {
    color: #0088a9;
  }
  .navbar-button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
  }
  .title1 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
  }
  .navbar-button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }
  .container .text {
    margin-right: 50px;
  }
  .container img {
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .container2 img {
    width: 90%;
    margin-left: 50px;
  }
  .container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
  .container2 .text2 {
    margin-left: 50px;
  }
  .container3 img {
    width: 500px;
  }
  .container3 .img3 {
    display: inline-block;
  }
  .secondimage {
    float: right;
    display: inline-blockr;
  }
  .title2 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
  }
  .container3 {
    height: 550px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .title3 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
  }
  .title4 {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    color: white;
  }
  .black-background {
    background-color: black;
    height: 600px;
  }
  .container10 img {
    width: 600px;
  }
  .container10 .img {
    text-align: center;
    margin-top: 20px;
  }
  .text5 {
    color: white;
    margin-top: 40px;
  }
  .container10 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .title11 {
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
  }
  .container11 .imgnext {
    text-align: center;
  }
  .container11 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .container11 p {
    margin-top: 20px;
  }